@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins:wght@200&family=Source+Sans+Pro:wght@200&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Poppins', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 61.25vh;
    background-color: black;
    color: rgb(209, 207, 95);
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-size: 100%;

}

#container img {
    width: 100%;
}


.bottom {
    position: sticky;
    height: 95px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}


#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.songItemContainer {
    margin-top: 74px;
}

.songItem {
    height: 45px;
    display: flex;
    background-color: white;
    /* width: 80%; */
    color: black;
    margin: 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;

}

.songItem img {

    width: 43px;
    margin: 0 23px;
    border-radius: 34px;

}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Nanum Gothic', sans-serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}